.section-project {
  padding: 7rem 2rem 7rem 2rem;
  background: #fff;
}
.projectCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.iconReactP {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #ea4c89;
  background-color: rgb(250, 212, 227);
  transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
h1,
.headingProj {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  color: #ea4c89;
  /* margin-bottom: 3rem !important; */
  opacity: 0.8;
}
div .project-content {
  background-color: #fff;
  font-size: 1.2rem;
  text-align: center;
  width: 30rem;
  padding: 2.6rem 1.5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  border-left: 2px solid rgb(242, 148, 184);
}

@media only screen and (max-width: 500px) {
  div .project-content {
    /* font-size: 12px; */
    width: auto;
  }
}
h4,
.project-title {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  color: #2349b9;
}

.project-text {
  font-size: 14px;
  color: #808080;
  font-weight: 500;
  padding-bottom: 3rem;
  word-spacing: 5px;
}
.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
