.section-education {
  position: relative;
}
.section-education::before {
  content: "";
  position: absolute;
  background-image: url(../../../public/hero-pattern-mweb.svg);
  top: 2.6rem;
  left: -88px;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
}
.section-education::after {
  content: "";
  position: absolute;
  background-image: url(../../../public/hero-pattern-mweb.svg);
  top: 2.6rem;
  right: -88px;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .section-education::before {
    display: none;
  }
  .section-education::after {
    display: none;
  }
}
.passing-year {
  color: #8d8d8d;
}
.eduCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3.5rem;
}
.iconreactEd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #ea4c89;
  background-color: rgb(250, 212, 227);
  transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
