.passing-year {
  color: #8d8d8d;
}
.eduCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3.5rem;
}
.iconreactEd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #ea4c89;
  background-color: rgb(250, 212, 227);
  transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
